<!DOCTYPE html>
<html>
<head>
   <title>Post-Patch Report</title>
   <style>
       table {
           width: 100%;
           border-collapse: collapse;
       }

       th, td {
           border: 1px solid #dddddd;
           text-align: left;
           padding: 8px;
       }

       th {
           background-color: #f2f2f2;
       }
   </style>
</head>
<body>
   <h1>Post-Patch Report</h1>
  
   <h2>System Information</h2>
   <table>
       <tr>
           <th>Hostname</th>
           <th>IP</th>
           <th>Windows Version</th>
       </tr>
       <tr>
           <td>{{ ansible_facts['fqdn'] }}</td>
           <td>{{ ansible_host }}</td>
           <td>{{ ansible_facts['ansible_distribution'] }}</td>
       </tr>
   </table>
  
   <h2>Windows KBs Status</h2>
   {% set status_element = ansible_checks_kb | difference(ansible_update_kb) %}
   {% set status = 'Not Installed' if status_element else 'Installed' %}
   <table>
       <tr>
           <th>KB</th>
           <th>Status</th>
       </tr>
       {% for kb_list in ansible_checks_kb %}
           {% for kb in kb_list %}
               <tr>
                   <td>{{ kb }}</td>
                   <td>{{ status if kb in status_element else 'Installed'}}</td>
               </tr>
           {% endfor %}
       {% endfor %}
   </table>

    <h2>Comparison of Running Services</h2>
    {% set service_difference = service_info_running | difference(service_info2_running) %}
    {% set service_diff = service_info2_running | difference(service_info_running) %}
   <table>
       <tr>
           <th>Services that are no longer Running</th>
       </tr>
       {% for diff in service_difference %}          
               <tr>
                   <td>{{ diff }}</td>                   
               </tr>           
       {% endfor %}
   </table>
   <table>
        <tr>
            <th>New Services Running</th>
        </tr>
       {% for diff2 in service_diff %}          
               <tr>
                   <td>{{ diff2 }}</td>                   
               </tr>           
       {% endfor %}
    </table>
</body>
</html>