Hostname: {{ ansible_facts['fqdn'] }}
IP: {{ ansible_host }}
Windows version: {{ ansible_facts['distribution_version'] }}

windows KB: 
{% for update in ansible_checks.updates %}
  {{ update.kb }}
{% endfor %}