<!DOCTYPE html>
<html>
<head>
   <title>Post-Patch Report</title>
   <style>
       table {
           width: 100%;
           border-collapse: collapse;
       }

       th, td {
           border: 1px solid #dddddd;
           text-align: left;
           padding: 8px;
       }

       th {
           background-color: #f2f2f2;
       }

       .highlight th {
           background-color: #ff7f7f;
        }
   </style>
</head>
<body>
   <h1>Post-Patch Report</h1>
   <p>Report generated on: {{ nodes_data[0].report_time }}</p>
  
   <h2>System Information</h2>
   <table>
       <tr>
           <th>Hostname</th>
           <th>IP</th>
           <th>Linux Version</th>
       </tr>
       {% for node in nodes_data %}
       <tr>
           <td>{{ node.ansible_facts['fqdn'] }}</td>
           <td>{{ node.ansible_host }}</td>
           <td>{{ node.ansible_distribution }}</td>
       </tr>
       {% endfor %}
   </table>